<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="Tests/Bootstrap.php"
         cacheResult="true"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory suffix="Test.php">Tests/Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
